* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url("img.jpg");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

.nav-bar {
    display: flex;
    padding: 40px 120px;
}

.nav-logo img {
    width: 130px;
    height: 50px;
    overflow-x: hidden;
    position: relative;
    border-radius: 10px;
}

.nav-link {
    flex: 1;
}

.nav-link ul {
    margin-left: 120px;
    display: inline;
}

.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}

.nav-link ul a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.nav-link ul li::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
}

.nav-link ul li:hover::after {
    width: 100%
}

.btn1 {
    border-radius: 10px;
    padding: 10px 20px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    margin-right: 0px;
    border-color: black;
    border-width: 1px;
}

.btn1:hover {
    background: #fff;
    color: #000;
}

.nav-link .btn1 {
    float: right;
}

.nav-link .btn1::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
}

.nav-link .btn1:hover::after {
    width: 100%
}

.btn {
    border-radius: 10px;
    padding: 10px 20px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    margin-right: 50px;
    border-color: black;
    border-width: 1px;
}

.btn:hover {
    background: #fff;
    color: #000;
}

.nav-link .btn {
    float: right;
}

.nav-link .btn::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
}

.nav-link .btn:hover::after {
    width: 100%
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-item-left,
.flex-item-right,
.flex-item-bottom,
.flex-item-center {
    border-radius: 15px;
    width: 16%;
    height: 380px;
    margin-left: 35px;
    margin-right: 30px;
    margin-top: 20;
    padding: 10px;
    background-image: url(img3.jpg);
    border-spacing: 15px 50px;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    font-size: small;
}

.circle {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: 1px;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    position: relative;
    top: 20px;
    left: 30px;
    position: center;
    margin-top: 10px;
}

.btn2 {
    padding: 10px 20px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    margin-right: 0px;
    border-color: black;
    border-width: 1px;
    margin-top: 30px;
    position: relative;
}

.btn2:hover {
    background: black;
    color: whitesmoke;
}

.nav-link .btn2 {
    float: right;
}

.nav-link .btn2::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
}

.nav-link .btn2:hover::after {
    width: 100%
}

nav-bar .fa {
    display: none;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

@media (max-width:500px) {
    .nav-bar {
        padding: 10px 30px;
    }
    .fa-bars {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa {
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-link {
        height: 100vh;
        width: 200px;
        background: #000;
        top: 0;
        right: -200;
        position: absolute;
        text-align: left;
        z-index: 5;
        transition: 0.5s;
    }
    .nav-link ul a {
        display: block;
    }
    .nav-link .btn {
        float: none;
        margin-left: 25px;
        margin-right: 10px;
        margin-bottom: 1px;
        padding: 10px 20px;
        background: transparent;
        font-weight: bold;
        cursor: pointer;
        color: white;
    }
    .nav-link .btn1 {
        float: none;
        margin-left: 2px;
        margin-right: 10px;
        padding: 10px 20px;
        background: transparent;
        font-weight: bold;
        cursor: pointer;
        color: white;
    }
}